## Author : *Kjenis*

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
* Nympy
* Matplotlib
* Pandas
* Scikit-learn

### Data Science Tools

| Type | Example | Overview 
|------|---------|----------
|Data Collection| SQL | programm language to collect, safe and extract data from databases use queries
|Data Integration| Apache Airflow | program softfare that used to ETL 
|Data Visualization| Tableau | programm softfare used to visualizate your data

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**
- Python
- Tableau/PowerBI
- SQL
- Resume
- Find a work
- Get a girlfriend
- Marry